/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
[data-v-d94a7e88]:export{menuBg:#304156;menuText:#bfcbd9;menuActiveText:#409eff}.errPage-container[data-v-d94a7e88]{width:800px;max-width:100%;margin:100px auto}.errPage-container .back-btn[data-v-d94a7e88]{background:#008489;color:#fff;border:none!important}.errPage-container .some-gif[data-v-d94a7e88]{margin:0 auto;display:block}.errPage-container .some-img[data-v-d94a7e88]{display:block;margin:0 auto;width:100%}.errPage-container .text-jumbo[data-v-d94a7e88]{font-size:60px;font-weight:700;color:#484848}.errPage-container .list-unstyled[data-v-d94a7e88]{font-size:14px}.errPage-container .list-unstyled li[data-v-d94a7e88]{padding-bottom:5px}.errPage-container .list-unstyled a[data-v-d94a7e88]{color:#008489;text-decoration:none}.errPage-container .list-unstyled a[data-v-d94a7e88]:hover{text-decoration:underline}